.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px;
}

a {
    display: inline-block;

    &.button {
        border: 2px solid $primary;
        @include fontSize(14);
        font-weight: bold;
        padding: 15px 32px;

        &:hover,
        &:focus {
            background-color: $primary;
            color: $solidWhite;
        }

    &.secondaryButton {
        background-color: $primary;
        color: $solidWhite;

        &:hover,
        &:focus {
            background-color: $solidWhite;
            color: $primary;
        }

    }
    }


}