.contactForm {
    display: flex;
    flex-direction: column;
    padding: 70px 0 50px;
}

input, 
textarea,
select {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding-bottom: 10px;
    font-family: $secondaryFont;
    @include fontSize(16);
    text-transform: uppercase;
    color: $primary;
    transition: 0.3s;

    &::placeholder {
        color: $primary;
    }

    &:hover,
    &:focus {
        border-color: $primary;
    }
}

textarea {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

select {
    appearance: none;
    background-color: $solidWhite;
    background-image: url(/assets/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}

fieldset {
    border: 0;
    padding: 0;
    @include fontSize(16);

    input {
        margin-right: 10px;
        accent-color: $primary;
    }

    a {
        font-weight: 600;
        text-decoration: underline;
    }
}