header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: $tertiary;
    

    .headerImgContainer {
        width: 45%;
    }

    .headerContentContainer {
        width: 55%;
        padding: 0 90px;
    }
}

.contactHeader {
    background-color: $quaternary;
    padding-top: 100px;
    text-align: center;

    .contactContent {
        padding-bottom: 50px;
    }

    &::after {
        content: "";
        background-image: url(/assets/wave.svg);
        width: 100%;
        height: 150px;
        background-size: 100% 150px;
    }
}